@page
<div class="content-block" style="display: flex; align-items: center;">

    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#A79A66" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
        <path d="M10 12h4v4h-4z" />
    </svg>

    <h2 style="color: #A79A66; font-weight: bold; margin-left: 10px;">Bienvenido</h2>
   
</div>

<p class="content-block dx-card responsive-paddings">Labware Ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut metus eget nulla fermentum eleifend. Sed consectetur ultricies ante, vel rhoncus ex blandit eu. Mauris volutpat tellus nec libero fermentum, id tincidunt mauris laoreet. Quisque varius, enim id tempor vestibulum, eros nulla ultricies risus, a dignissim libero libero a ipsum. Nulla facilisi. Sed ullamcorper sapien quis eros blandit, ac viverra turpis congue. Cras pharetra tellus nec nulla volutpat interdum. Ut id sapien quam. Morbi vel sagittis sapien. Fusce non diam a nunc pharetra varius. Donec in magna quis mauris mattis laoreet vel vitae nunc. Aliquam fringilla massa a magna vestibulum bibendum. Nulla facilisi. Aenean vitae sapien sed elit vehicula tristique. Nam aliquam, magna eu sodales interdum, mauris ipsum cursus urna, nec suscipit nisi nunc non enim. Duis hendrerit dolor nec velit vehicula pharetra.</p> 